page-about {
	
	.header-background{
		background-image: url("http://betport.bookoevent.com/public/uploads/no-avatar.png");
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
	}

	.profile_balance{
		margin-top:-20px;
		font-size: 12px;
	}

	.round{
		position:fixed;
		margin-top:-30px;
		border-radius: 15px;
	}

	.round-5{
		border-radius: 5px;
	}

	.margin-top-segment{
			margin-top:60px;
	}

	.profit_amount{
		font-size: 18px;
		color:green;
	}
	.exposure_amount{
		font-size: 18px;
		color:red;
	}

	.date_month{
		font-size: 14px;
	}

	.date_day{
		font-size: 18px;
		marign-top:-100px!important;
	}

	.no-padding {
    	padding: 0px !important;
	}

	.profit{
		color:green;
		font-size: 12px;
		marign-top:-100px!important;
	}

	.loss{
		color:red;
		font-size: 12px;
		marign-top:-100px!important;
	}

	.accordion {

	    transition: 0.4s;
	}
	.panel {
	    background-color: white;
	    overflow: hidden;
	    transition: max-height 0.2s ease-out;
	}

	.match_name {
	    color:blue;
	}
	.match-name-home {
		font-size: 13px;
		color:#5882FA;
	}
	.date-match-font{
		font-size: 10px;
	}

	.hide-div{
		display:none;
	}

}
