<!--<ion-header>
  <ion-navbar align="center">
    <img height="200px;" width="100%;" align="center" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg" />
  </ion-navbar>
</ion-header>-->

<ion-content>
  	<div>
  		<img height="200px;" width="100%;" align="center" src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-1024x683.jpg" />
  		<div align="center">
  		<ion-card class="round">
		  <ion-card-content>
		    <ion-row>
			    <ion-col col-4>
			      <p class="profit_amount">{{total_points}}</p><br>
			      <p class="profile_balance">Limit</p>
			    </ion-col>
			    <ion-col col-4>
			      <p class="exposure_amount">{{exposure}}</p><br>
			      <p class="profile_balance">Exposure</p>
			    </ion-col>
			    <ion-col col-4>
			      <p class="profit_amount">{{total_points}}</p><br>
			      <p class="profile_balance">Balance</p>
			    </ion-col>
			 </ion-row>
		  </ion-card-content>
		</ion-card>
		</div>
  	</div>
  <div class="margin-top-segment">
    <ion-segment [(ngModel)]="profile_tab" (ionChange)="segmentChanged()">
      <ion-segment-button selected value="overview">
        OVERVIEW
      </ion-segment-button>
      <ion-segment-button value="bet_history">
        BET HISTORY
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="profile_tab">
    <ion-list *ngSwitchCase="'overview'">
      <ion-item>
		  <ion-label>Sports</ion-label>
		  <ion-select (ngModelChange)="change_overview_type($event)" id="overview_sports" [(ngModel)]="overview_sports">
		    <ion-option value="1" selected >Cricket</ion-option>
		    <ion-option value="2">Tennis</ion-option>
		    <ion-option value="3">Soccer</ion-option>
		  </ion-select>
		</ion-item>
		<div id="cricket_tab">
			<ion-item>
			    <ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/cricket.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home" >India Vs West Indies</p>
		              <p class="date-match-font">One Day International</p>
		              <p class="date-match-font"><ion-badge color="secondary" small>View Details</ion-badge></p>
		          </ion-col>
		        </ion-row>
			</ion-item>
			<ion-item>
				<ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/cricket.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home" >India Vs West Indies</p>
		              <p class="date-match-font">One Day International</p>
		              <p class="date-match-font"><ion-badge color="secondary" small>View Details</ion-badge></p>
		          </ion-col>
		        </ion-row>
			</ion-item>
		</div>
		<div id="tennis_tab" class="hide-div">
			<ion-item>
			    <ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/tennis.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home" >India Vs West Indies</p>
		              <p class="date-match-font">One Day International</p>
		              <p class="date-match-font"><ion-badge color="secondary" small>View Details</ion-badge></p>
		          </ion-col>
		        </ion-row>
			</ion-item>
			<ion-item>
			    <ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/tennis.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home" >India Vs West Indies</p>
		              <p class="date-match-font">One Day International</p>
		              <p class="date-match-font"><ion-badge color="secondary" small>View Details</ion-badge></p>
		          </ion-col>
		        </ion-row>
			</ion-item>
		</div>
		<div id="soccer_tab" class="hide-div">
			<ion-item>
			    <ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/soccer.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home" >India Vs West Indies</p>
		              <p class="date-match-font">One Day International</p>
		              <p class="date-match-font"><ion-badge color="secondary" small>View Details</ion-badge></p>
		          </ion-col>
		        </ion-row>
			</ion-item>
			<ion-item>
			    <ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/soccer.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home" >India Vs West Indies</p>
		              <p class="date-match-font">One Day International</p>
		              <p class="date-match-font"><ion-badge color="secondary" small>View Details</ion-badge></p>
		          </ion-col>
		        </ion-row>
			</ion-item>
		</div>
    </ion-list>
    <ion-list *ngSwitchCase="'bet_history'">
        <ion-item>
		  <ion-label>Sports</ion-label>
		  <ion-select [(ngModel)]="bet_history_sports">
		    <ion-option value="1">Cricket</ion-option>
		    <ion-option value="2">Tennis</ion-option>
		    <ion-option value="3">Soccer</ion-option>
		  </ion-select>
		</ion-item>
				<ion-item>
		<div>
		    <ion-row>
			    <ion-col col-3>
			      <p class="date_day">12</p>
			    </ion-col>
			    <ion-col col-8>
			      <p class="match_name">India Vs West Indies</p>
			    </ion-col>
			    <ion-col col-1>
			      <div align="right" class="expand_icon"><ion-icon name="add"></ion-icon></div>
			    </ion-col>
			 </ion-row>
			 <ion-row>
			    <ion-col col-3>
			      <p class="date_month">NOV</p>
			    </ion-col>
			    <ion-col col-9>
			      <p class="profit">-2000</p>
			    </ion-col>
			 </ion-row>
		</div>  
		</ion-item>
    </ion-list>
 </div>

</ion-content>

 
