<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-content padding>
	<div align="center" class="margin-top-20-p">
		<img width="60%" src="../assets/imgs/logo.png" >
	</div>
	<ion-list >

	  <ion-item>
	    <ion-label floating>Username</ion-label>
	    <ion-input type="text" #username></ion-input>
	  </ion-item>

	  <ion-item>
	    <ion-label floating>Password</ion-label>
	    <ion-input type="password" #password></ion-input>
	  </ion-item>
	  <br>
	  <div align="center">
	  	<button ion-button round color='orange' large (click)="login()">
		  Login
		</button>
	  </div>
	</ion-list>
</ion-content>

