<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="Home" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="Profile" tabIcon="contact"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="Ledger" tabIcon="stats"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="More" tabIcon="more"></ion-tab>
  <ion-tab [root]="tab5Root" tabTitle="Logout" (ionSelect)="logout()" tabIcon="log-out"></ion-tab>
</ion-tabs>
