page-home {
	.margin-right-20{
		margin-right:20px;
	}

	.date-font{
		font-size: 10px;
		margin-top:-10px !important;
	}
	.date-match-font{
		font-size: 10px;
	}
	.match-font{
		font-size: 10px;
		margin-top:-10px !important;
	}

	.header-background{
		background-image: url("../../assets/imgs/header-bg.jpg");
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
	}

	.padding-left{
		padding-left:16px;
	}
	.padding-right{
		padding-left:16px !important;
	}
	.header-amount{
		color:#fff;
		letter-spacing: 2px;
	}
	.header-name{
		color:#fff;
		font-size: 10px;
		margin-top:-10px;
	}
	.text-align-center{
		text-align:center;
	}

	.text-align-right{
		text-align:right;
	}
	.rtl{
		direction: rtl;
	}

	.color-orange{
		color: orange;
	}

	.vs-font{
		font-size: 20px;
		margin-top:-10px !important;
	}

	.match-name-home {
		font-size: 13px;
		color:#5882FA;
	}

}
