<ion-header>
  <ion-navbar align="center">
    <img height="40" width="120" align="center" src="assets/imgs/logo.png" />
  </ion-navbar>
</ion-header>

<ion-content>
  
  <ion-row class="header-background padding-left padding-right">
    <ion-col>
      <h6 class="header-amount" align="center">{{total_balance}}</h6>
      <p class="header-name" align="center">Total Balance</p>
    </ion-col>
    <ion-col class="">
        <h6 class="header-amount" align="center">{{total_exposure}}</h6>
        <p class="header-name" align="center">Exposure</p>
    </ion-col>
  </ion-row>
  <!--<ion-row padding>
    <ion-col>
        <p>Upcoming Matches</p>
    </ion-col>
    <ion-col>
        <img height="50"align="right" class="margin-right-20" width="50" src="assets/imgs/football-field.png" />
    </ion-col>
  </ion-row>-->
  <div>
    <b><h6 class="text-align-center">Matches</h6></b>
  </div>

  <div padding>
    <ion-segment [(ngModel)]="pet">
      <ion-segment-button value="cricket">
        Cricket
      </ion-segment-button>
      <ion-segment-button value="tennis">
        Tennis
      </ion-segment-button>
      <ion-segment-button value="soccer">
        Soccer
      </ion-segment-button>
    </ion-segment>
  </div>

  <div [ngSwitch]="pet">
    <ion-list *ngSwitchCase="'cricket'">
      <div *ngFor="let item of cricket_data">
      <ion-item>
        <ion-row>
          <ion-col col-3>
              <img align="center" src="assets/imgs/cricket.png" />
          </ion-col>
          <ion-col col-9>
              <p class="match-name-home" (click)="gotoOdds(item.id,item.name)" >{{item.name}}</p>
              <p class="date-match-font">{{item.competition_name}}</p>
              <ion-row>
                <ion-col col-6>
                   <p class="date-match-font"><ion-badge small>{{item.match_status}}</ion-badge></p>
                </ion-col>
                <ion-col col-6>
                  <p class="date-match-font">{{item.evendat}}</p>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      <!--<ion-item>
        <ion-row>
          <ion-col>
              <p class="date-match-font" align="left">{{item.evendat}}</p>
          </ion-col>
          <ion-col>
              <p class="date-match-font" align="right">{{item.competition_name}}</p>
          </ion-col>
        </ion-row>
         <ion-row>
          <ion-col>
              <img height="20" align="center" width="30" src="assets/flags/pk.svg" /><br><br>
              <p class="date-match-font" align="left">{{item.team1}}</p>
          </ion-col>
          <ion-col>
              <p class="vs-font text-align-center color-orange">VS</p>
          </ion-col>
          <ion-col>
             <img height="20" width="30" align="right" src="assets/flags/at.svg" /><br><br>
             <p class="date-match-font text-align-right" >{{item.team2}}</p>
          </ion-col>
        </ion-row>
      </ion-item>-->
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'tennis'">
      <div *ngFor="let item of tennis_data">
        <ion-item>
        <ion-row>
          <ion-col col-3>
              <img align="center" src="assets/imgs/tennis.png" />
          </ion-col>
          <ion-col col-9>
              <p class="match-name-home">{{item.name}}</p>
              <p class="date-match-font">{{item.competition_name}}</p>
              <ion-row>
                <ion-col col-6>
                   <p class="date-match-font"><ion-badge small>{{item.match_status}}</ion-badge></p>
                </ion-col>
                <ion-col col-6>
                  <p class="date-match-font">{{item.evendat}}</p>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      </div>
    </ion-list>

    <ion-list *ngSwitchCase="'soccer'">
      <div *ngFor="let item of soccer_data">
        <ion-item>
        <ion-row>
          <ion-col col-3>
              <img align="center" src="assets/imgs/soccer.png" />
          </ion-col>
          <ion-col col-9>
              <p class="match-name-home">{{item.name}}</p>
              <p class="date-match-font">{{item.competition_name}}</p>
              <ion-row>
                <ion-col col-6>
                   <p class="date-match-font"><ion-badge small>{{item.match_status}}</ion-badge></p>
                </ion-col>
                <ion-col col-6>
                  <p class="date-match-font">{{item.evendat}}</p>
                </ion-col>
              </ion-row>
          </ion-col>
        </ion-row>
      </ion-item>
      </div>
    </ion-list>
  </div>

</ion-content>
