<!--
  Generated template for the OddsbetPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{type}} : {{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-color">
	<ion-row class="header-background padding-left padding-right">
	    <ion-col>
	      <h6 class="header-amount" align="center">{{total_balance}}</h6>
	      <p class="header-name" align="center">Total Balance</p>
	    </ion-col>
	    <!--<ion-col>
	      <h6 class="header-amount" align="center">{{total_limit}}</h6>
	      <p class="header-name" align="center">Total Limit</p>
	    </ion-col>-->
	    <ion-col class="">
	        <h6 class="header-amount" align="center">{{total_exposure}}</h6>
	        <p class="header-name" align="center">Exposure</p>
	    </ion-col>
  	</ion-row>

  	<div>
	    <ion-item>
		    <ion-label>
		      <ion-icon name="bookmark"></ion-icon> {{bt_list1}}
		    </ion-label>
		    <div item-content>
		      <p class="{{team1_color}}"><b>{{team1}}</b></p>
		    </div>
	  	</ion-item>
	  	<ion-item>
		    <ion-label>
		       <ion-icon name="bookmark"></ion-icon> {{bt_list2}}
		    </ion-label>
		    <div item-content>
		      <p class="{{team2_color}}"><b>{{team2}}</b></p>
		    </div>
	  	</ion-item>
	  	<ion-item *ngIf="bt_list3">
		    <ion-label>
		       <ion-icon name="bookmark"></ion-icon> {{bt_list3}}
		    </ion-label>
		    <div item-content>
		      <p class="{{team3_color}}"><b>{{team3}}</b></p>
		    </div>
	  	</ion-item>	
	  	
	</div>

	<ion-card>
	  <ion-card-header>
	    Place your bet here...!
	  </ion-card-header>
	  <ion-card-content>
	    <ion-row>
		   <ion-col col-3 offset-2>Rate</ion-col>
		   <ion-col col-3 offset-2>Stake</ion-col>
		</ion-row>
		<ion-row>
		   <ion-col col-3 offset-2><ion-input readonly class="input-text" [(ngModel)]="rate" min="0" step="1" (keyup)="betting_calculation()" type="number" value="{{price}}"></ion-input></ion-col>
		   <ion-col col-3 offset-2><ion-input class="input-text" [(ngModel)]="stake"  min="0" step="1" (keyup)="betting_calculation()" type="number" value="0"></ion-input></ion-col>

		   <ion-input [(ngModel)]="user_id" type="hidden" value="{{user_id}}"></ion-input>
		</ion-row>
		  
	  </ion-card-content>
	</ion-card>
	<div>
	    <ion-item>
		    <ion-label>
		      <ion-icon name="bookmark"></ion-icon> {{profit_name}}
		    </ion-label>
		    <div item-content>
		      <p class="{{profit_color}}"><b>{{profit}}</b></p>
		    </div>
	  	</ion-item>
	</div>
	<ion-grid>
	  <ion-row>
	    <ion-col col-4><button ion-button outline block round (click)="append_amount(1000)" >+1000</button></ion-col>
	    <ion-col col-4><button ion-button outline block round (click)="append_amount(5000)" >+5000</button></ion-col>
	    <ion-col col-4><button ion-button outline block round (click)="append_amount(10000)" >+10000</button></ion-col>
	  </ion-row>
	  <ion-row>
	    <ion-col col-4><button ion-button outline block round (click)="append_amount(25000)" >+25000</button></ion-col>
	    <ion-col col-4><button ion-button outline block round (click)="append_amount(100000)" >+100000</button></ion-col>
	    <ion-col col-4><button ion-button color="danger" block round outline (click)="clear_amount()" >CLEAR</button></ion-col>
	  </ion-row>
	  <ion-row>
	  	<ion-col col-6><button (click)="move_backward()" ion-button icon-start round block color="danger"><ion-icon name="close-circle"></ion-icon>CANCEL</button></ion-col>
	  	<ion-col col-6><button ion-button icon-start round block color="secondary" (click)="place_bet()"><ion-icon name="add-circle"></ion-icon>PLACE</button></ion-col>
	  	
	  </ion-row>
	</ion-grid>
</ion-content>
