page-odds {
	
	.header-background{
		background-image: url("../../assets/imgs/header-bg.jpg");
		background-position: center; /* Center the image */
		background-repeat: no-repeat; /* Do not repeat the image */
		background-size: cover; /* Resize the background image to cover the entire container */
	}

	.padding-left{
		padding-left:16px;
	}
	.padding-right{
		padding-left:16px !important;
	}
	.header-amount{
		color:#fff;
		letter-spacing: 2px;
	}
	.header-name{
		color:#fff;
		font-size: 10px;
		margin-top:-10px;
	}
	.no-padding {
    	padding: 0px !important;
	}

	.card {
	    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2);
	    transition: 0.3s;
	}

	.padding{
		padding:10px;
	}

	.bg-color{
		background:#f2f2f2;
	}

	.match-name-home {
		font-size: 13px;
		color:#ff6600;
	}

	.date-match-font{
		font-size: 10px;
	}

	.date-match-font-big{
		font-size: 15px;
	}

	.margin-left-100{
		margin-left: 50px;
	}

	.color-green{
		color:green;
	}

	.color-red{
		color:red;
	}

}
