<!--
  Generated template for the OddsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>{{name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="bg-color">

	<ion-row class="header-background padding-left padding-right">
	    <ion-col>
	      <h6 class="header-amount" align="center">{{total_balance}}</h6>
	      <p class="header-name" align="center">Total Balance</p>
	    </ion-col>
	    <!--<ion-col>
	      <h6 class="header-amount" align="center">{{total_limit}}</h6>
	      <p class="header-name" align="center">Total Limit</p>
	    </ion-col>-->
	    <ion-col class="">
	        <h6 class="header-amount" align="center">{{total_exposure}}</h6>
	        <p class="header-name" align="center">Exposure</p>
	    </ion-col>
  	</ion-row>

  	<div>
	    <ion-segment [(ngModel)]="odds_segment">
	      <ion-segment-button value="markets">
	        MARKETS
	      </ion-segment-button>
	      <ion-segment-button value="bets">
	        BETS
	      </ion-segment-button>
	    </ion-segment>
	</div>

	<div [ngSwitch]="odds_segment" class="padding">
	    <ion-list *ngSwitchCase="'markets'" >
	      <ion-item class="card">
	      	<ion-row>
                <ion-col col-2>
                   <p>12</p>
                   <p>OCT</p>
                </ion-col>
                <ion-col col-6>
                  <p class="match-name-home">{{odds_data.name}}</p>
                  <p class="date-match-font">{{odds_data.competition.name}}</p>
                </ion-col>
                <ion-col col-4>
                  <p><ion-badge color="secondary" small>{{odds_data.status}}</ion-badge></p>
                </ion-col>
             </ion-row>
             <hr>
             <ion-row>
                <ion-col col-6>
           
                </ion-col>
                <ion-col col-3>
                  <p>Back</p>
                </ion-col>
                <ion-col col-3>
                   <p>Lay</p>
                </ion-col>
             </ion-row>
             <hr>
             <div *ngFor="let item of odds_data.runners" >
             <ion-row>
              
                <ion-col col-6>
                   <p>{{item.name}}</p>
                   	<span class="date-match-font" >Active </span><span class="margin-left-100"><ion-badge color="{{item.color}}" small>{{item.bet}}</ion-badge></span>
                </ion-col>
                <ion-col col-3  >
                  <div *ngIf="item.back[0]">
	                  <div (click)="move_bet_page(item.name,'back',item.back[0].price)">
	                  	<p>{{item.back[0].price}}</p>
	                  	<p class="date-match-font">{{item.back[0].size}}</p>
	                  </div>
              	  </div>
                </ion-col>
                <ion-col col-3>
                   <div *ngIf="item.lay[0]">
                   	<div (click)="move_bet_page(item.name,'lay',item.lay[0].price)">
	                  <p>{{item.lay[0].price}}</p>
	                  <p class="date-match-font">{{item.lay[0].size}}</p>
                  	</div>
              	  </div>
                </ion-col>
             </ion-row>
         	 </div>
	      </ion-item>
  			<br><br>
	    </ion-list>
	    <ion-list *ngSwitchCase="'bets'" >
	      <div *ngIf="this.bet_result.data.result">
	      	  <div *ngFor="let item of bet_result.data.result">
		      <ion-item class="card">
		      	<ion-row>
		          <ion-col col-3>
		              <img align="center" src="assets/imgs/cricket.png" />
		          </ion-col>
		          <ion-col col-9>
		              <p class="match-name-home">{{item.match_type}}</p>
		              <p class="date-match-font-big">{{item.betting_on}}  : <b>{{item.betting_to}}</b></p>
		              <p class="date-match-font-big">Stake : <b>{{item.betting_rate}}</b>, Rate : <b>{{item.paid_amount}}</b></p>
		              <p class="date-match-font">{{item.betting_date}}</p>
		          </ion-col>
		        </ion-row>
		       </ion-item>
		       </div>
	      </div>
	    </ion-list>
	</div>
</ion-content>
